<!-- src/app/home/home.component.html -->  
<app-navbar></app-navbar>
<div class="banner">
    <h2>Welcome to HR Harmony Hub</h2>
    <p>Your one-stop destination for all HR-related activities.</p>
</div>
  
<div class="content">
    <div class="feature">
      <h3>Employee Directory</h3>
      <p>Search and manage employee records.</p>
    </div>
    <div class="feature">
      <h3>Leave Management</h3>
      <p>Track employee leave and attendance.</p>
    </div>
    <div class="feature">
      <h3>Payroll</h3>
      <p>Manage payroll and salary details efficiently.</p>
    </div>
    <div class="feature">
      <h3>Reports</h3>
      <p>Generate and download important HR reports.</p>
    </div>
</div>
<app-footer></app-footer>
  

  