<link rel="stylesheet" href="reset-password.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-navbar></app-navbar>
<div class="form">
    <div class="rightside">
        <div class="input-container">
            
            <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
                <div class="input">
                    <i class="fa fa-user" style="margin-right: 8px;"></i> 
                    <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
                </div>

                <div class="input">
                    <i class="fa fa-lock" style="margin-right: 8px;"></i>  
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
                </div>

                <div class="input">
                    <i class="fa fa-lock" style="margin-right: 8px;"></i>  
                    <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
        <div *ngIf="newPassword !== confirmPassword" class="error-message">
          Passwords do not match. Please enter matching passwords.
        </div>
    </div>
  
    <button type="submit" [disabled]="newPassword !== confirmPassword" class="login">Reset Password</button>

   
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}   <a routerLink="/login">Go back to login page</a>
  </div>    
    </div>
    </div>
</div>
<app-footer></app-footer>